html, body {
  margin: 0;
  background-size: cover;
  height: 100%;
  width: 100%;
}

* {
  color: white;
}

#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

a {
  text-decoration: none;
}