.app_container {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

.todoContainer {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow-y: scroll;
}

.todoContainer::-webkit-scrollbar{
	width: 12px;
	background-color: rgba(0, 0, 0, 0.2);
}

.todoContainer::-webkit-scrollbar-thumb{
	background-color: rgba(0, 0, 0, 0.9);
}